body {
    height: 95vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(112, 243, 112);    
    background-color: rgb(37, 37, 37);
}